.create-account{
    button{
        margin-top: 1rem;
    }
    input{
        width: 100%;
    }
    form{
        background-color: white;
        padding: 2rem;
        border: 3px solid black;
        box-shadow: 4px 4px 0px black;
    }
}