@import "../../app/mixin.scss";
header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #222;
    z-index: 100;
    .container{
        padding: 1rem 0;
    }
    nav{
        display: flex;
        gap:1.25rem;
        align-items: center;
        overflow: hidden;
        color:white;
        a{
            font-family: 'Cutive Mono', monospace;
            font-size: 20px;
        }
        @include to(768px){
            position: absolute;
            flex-direction: column;
            gap:0.5rem;
            align-items: flex-start;
            top:60px;
            left:0;
            right:0;
            background-color: #222;
            padding: 2rem;
            opacity: 0;
            transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
            pointer-events: none;
            &.active{
                opacity: 1;
                display: flex;
                pointer-events: all;
            }
        }
    }
    a{
        color:white;
    }

    .mobile{
        display: none;
        @include to(768px){
            display: block;
        }
    }




}